<!-- <h1>
  Hello World
</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, deserunt. Tempore dolorum similique suscipit.
  Perspiciatis dolorem sequi modi explicabo velit facere voluptatem, rem, quod iusto porro minus temporibus enim
  expedita.</p>
<img src="assets/img/perfil.jpg" alt="">
<img src="https://avatars.githubusercontent.com/u/62526197?v=4" alt=""> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<app-footer></app-footer>
