<div>

  <h1>Listar Produtos</h1>
  <button type="button" routerLink="/produtos/cadastrar"> Cadastrar</button>
</div>
<div class="content">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Validade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of listaProdutos">
        <th>{{prod.id}}</th>
        <th>{{prod.nome}}</th>
        <th>{{prod.validade | date:"shortDate"}}</th>
        <th>{{prod.preco | currency: "BRL"}}</th>
        <th>
          <button routerLink="/produtos/atualizar/{{prod.id}}">
            E
          </button>
          <button (click)="deletar(prod)">
            D
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
