<h1>Editar Produto</h1>
<div class="card">
  <form>
    <div class="row">
      <div class="formgroup">
        <label for="nome">Nome do Produto</label>
        <input type="text" name="nome" [(ngModel)]="produto.nome" placeholder="Digite nome do produto" />
      </div>
    </div>

    <div class="row">
      <div class="formgroup">
        <label for="validade">Validade</label>
        <input type="date" name="validade" [(ngModel)]="produto.validade" placeholder="validade" />
      </div>

      <div class="formgroup">
        <label for="preco">preço</label>
        <input type="number" name="preco" [(ngModel)]="produto.preco" placeholder="0.00" />
      </div>
    </div>

    <div class="row">
      <div>
        <button routerLink="/produtos"> Voltar</button>
        <button (click)="salvarProduto()"> Salvar</button>
      </div>
    </div>


  </form>

</div>
